:root {
    --primaryColor: #be9c79;
    --secondaryColor: #212529;
    --darkColor: #212529;
    --lightColor: #ffffff;
    --regularFont: 1.6rem;
    --headingFont: 2.5rem;
    --ffPrimary: "Nunito Sans", serif;
    --ffSecondary: "Merienda", serif;
}

.menu .btn-primary {
    background-color:#be9c79 ;
    border: 1px;
    transition: background-color 0.3s ease;
}

.menu .btn-primary:hover {
    background-color: #212529;
}

h2 {
    font-family: "Merienda", serif;
}

p {
    font-family: "Nunito", sans-serif;
}