:root {
    --primaryColor: #be9c79;
    --secondaryColor: #212529;
    --darkColor: #212529;
    --lightColor: #ffffff;
    --regularFont: 1.6rem;
    --headingFont: 2.5rem;
    --ffPrimary: "Nunito Sans", serif;
    --ffSecondary: "Merienda", serif;
}

.menu .btn-primary {
  background-color: var(--primaryColor);
    border: 1px;
}

.menu .btn-primary:hover {
 background-color: var(--darkColor);
}

h2 {
font-family: var(--ffSecondary);
}

p {
    font-family: var(--ffPrimary);
}